{% extends "base.html" %}
{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Live Tracker Company</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->

        <div class="container-fluid">
            <div class="row">
                {% for i in visitor %}
                    <div class="col-md-4">
                        <p>{{ title }}</p>
                        <canvas id="{{i.id}}" width="600" height="400"></canvas>
                        <script>
                          var pieData = [
                              {
                                value: {{i.visitors}},
                                label: "{{label[0]}}",
                                color : "{{colors[0]}}"
                              },

                              {
                                value: {{i.sales}},
                                label: "{{label[1]}}",
                                color : "{{colors[1]}}"
                              },
                          ];

                          // get bar chart canvas
                          var mychart = document.getElementById("{{i.id}}").getContext("2d");
                          steps = 10
                          max = {{ max }}

                          // draw pie chart
                          new Chart(document.getElementById("{{i.id}}").getContext("2d")).Pie(pieData);

                        </script>
                       <p>Tracker - {{i.tracker_id}}</p>
                    </div>
                {% endfor %}


            </div>
        </div>

{% endblock %}